<div class="row">
  <h4><%= list.name %></h4>
      <div>
        <i>By <%= list.user.tripit_ref %></i>
        <%= list.description %>
      </div>
      <a href="lists/<%= list.id %>">View</a>
</div>
