<div class="hero">
<div class= "container">
  <div class="row">
    <div class="span12">
      <h1>The Trvrse Guidebook</h1>
      <h2>Pictures of trips you'd love to take. <a href="#">Learn More</a></h2>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <form action="#" method="get" accept-charset="utf-8" class="hero">
        <div>
          <input type="text" name="search" id="searchinput" value="" class="hero span5" placeholder="Enter a location..." autocomplete="off" />
        </div>
      </form>
    </div>
  </div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="span4">
      <h3>Nearby Places</h3>
    </div>
    <div class="span4">
      <h3>Upcoming</h3>
    </div>
    <div class="span4">
      <h3>Visited</h3>
    </div>
  </div>
</div>


<script type="text/javascript" charset="utf-8">
  var autocomplete = $('#searchinput').typeahead()
    .on('keyup', function(ev){

        ev.stopPropagation();
        ev.preventDefault();

        //filter out up/down, tab, enter, and escape keys
        if( $.inArray(ev.keyCode,[40,38,9,13,27]) === -1 ){

            var self = $(this);
            
            //set typeahead source to empty
            self.data('typeahead').source = [];

            //active used so we aren't triggering duplicate keyup events
            if( !self.data('active') && self.val().length > 0){

                self.data('active', true);

              $.ajax({
                url: "http://www.tripit.com/complete/place",
                data: {
                  query: $(this).val()
                },
                dataType: 'jsonp',
                success: function(data) {
                  //set this to true when your callback executes
                  self.data('active',true);

                  //Filter out your own parameters. Populate them into an array, since this is what typeahead's source requires
                  var arr = [],
                      i=data.length;
                  while(i--){
                      arr[i] = data[i].label;
                  }

                  //set your results into the typehead's source 
                  self.data('typeahead').source = arr;

                  //trigger keyup on the typeahead to make it search
                  self.trigger('keyup');

                  //All done, set to false to prepare for the next remote query.
                  self.data('active', false);
                }
              })
            }
        }
    });
</script>
